* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

header {
    font-family: 'Orbitron', sem serifa;
    padding: 16px 0;
    background-color: #4B0082;
    color: #ecf0f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #182c61;
}

.container-destaque {
    padding: 16px 0 0;
    border-bottom: 1px solid #1E90FF;
    margin-bottom: 56px;
}

header .container,
footer>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ilha {
    margin-right: 32px;
    height: 480px;
}

.logo img {
    height: 100px;
}

.logo li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.produtos {
    flex-wrap: wrap;
}

.produtos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.produtos li img {
    max-width: 100%;
}

.produtos li h3 {
    margin: 16px 0;
}


.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #7B68EE;
    color: floralwhite;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

footer {
    position: inherit;
    bottom: 0;
    background-color: blue;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

@media screen and (max-width: 600px){
    .container{
        max-width: 90%;
        flex-direction: column;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        row-gap: 5%;
        align-content: center;
    }

    .produtos li{
        max-width: 12em;
    };

    .produtos li img{
        max-width: 12px;
    }
    
    .ilha{
        height: 14em;
    }

    .logo img{
        height: 3.5em;
        margin: 7px;
    }

    footer{
        position: relative;
        background-color: blue;
        color: #FFF;   
        text-align: center;
        line-height: 3em;
        width: 100%;
        height: 6em;
    }
}

@media screen and (min-width: 601px) and (max-width: 1023px){
    .container{
        max-width: 90%;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(3, 32.6%);
        column-gap: 1%;
        row-gap: 5%;
    }

    .produtos li{
        max-width: 12em;
    };

    .produtos li img{
        max-width: 12px;
    }
    
    .ilha{
        height: 15em;
    }

    .logo img{
        height: 3.5em;
        margin: 7px;
    }
}

